<div class="content">

  <button ng-click="order = 'name'">Order by name</button>
  <button ng-click="order = 'belt'">Order by belt</button>

  <input type="text" ng-model="search" placeholder="Search for any result" />

  <ul>
    <!-- ng-repeat, ng-show and ng-hide directives -->
    <li ng-repeat="person in list | orderBy: order | filter: search"
        ng-show="person.available"
        ng-hide="person.rate>100">
      <!-- ng-src -->
      <img class="small-icons" ng-src="{{person.thumb}}" ng-show="person.thumb"/>
      <h3>{{person.name}} - {{person.rate | currency}}</h3>
      <div class="remove" ng-click="removePerson(person)">x</div>
      <span class="belt" style="background: {{person.belt}}">{{person.belt}}</span>
    </li>
  </ul>

  <!-- ng-submit -->
  <form ng-submit="addPerson()">
    <input type="text" placeholder="name" ng-model="newPerson.name" />
    <input type="text" placeholder="belt" ng-model="newPerson.belt" />
    <input type="text" placeholder="rate" ng-model="newPerson.rate" />
    <input type="submit" value="Add new person" />
  </form>

</div>
